.divmain{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: brown;
    z-index: 3;
}
.divContainer{
    display: flex;
    justify-content: space-evenly;
   
    padding: 15px  5px;
    
    
}

hr{
    margin: 0;
    padding: 0;
}